@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Scrabble Club</h1>
    <p class="lead">This is the website for our local scrabble club.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Members</h2>
        <p>
            You can find our member profiles here:
        </p>
        <p><a class="btn btn-default" href="~/Views/Profile/Index.cshtml">Profiles &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>See Previous Games</h2>
        <p>Find out previous games by clicking the link below.</p>
        <p><a class="btn btn-default" href="~/Views/Games/Index.cshtml">Games &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Leader Board</h2>
        <p>Find our top ten players through the leaderboard!</p>
        <p><a class="btn btn-default" href="~/Views/LeaderBoard/Index.cshtml">Leaderboard &raquo;</a></p>
    </div>
</div>